<!DOCTYPE html>
    <html class="new_visitor_page">
      <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static',filename='button_scripts.js') }}"></script>
      </head>
      <body>
      <div id="my_container">
        {% include "header.html" %}
        {% include "result_data.html" %}
        {% include "buttons.html" %}
        <div id="browserinfo_string">
          {% include "result_string.html" %}
        </div>
      </div>
      {% include "corner_links.html" %}
      <script src="{{ url_for('static',filename='bg_script.js') }}"></script>
      </body>
    </html> 